$colors: (
  "blue": #003069,
  "maize": #ffd24f,
  "teal": #009785,
  "cyan": #00aeef,
  "orange":  #f15a31,
  "sky":  #d4effc,
  "night": #000036,
  "white": #FFFFFF,
  "cream": #fffef5,
);

/*-- scss:functions --*/

@function theme-color($color) {
  @return map-get($colors, $color);
}

/*-- scss:defaults --*/

$presentation-heading-color: theme-color("blue");
$body-bg: theme-color("cream");
$body-color: theme-color("blue");
$link-color: theme-color("orange");

.reveal .slide blockquote {
  background-color: theme-color("cream");
  border-left: 5px solid theme-color("orange"); /* Example: adds a blue border */
  padding: 15px 20px;
  margin: 20px 0;
  font-style: italic;
  color: theme-color("blue");
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/*-- scss:rules --*/

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}